<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Memory game implementation with SF4, Webpack Encore, SASS, jQuery">
    <meta name="keywords" content="HTML,CSS,jQuery, SF">
    <meta name="author" content="Nicolas BONNIOT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/assets/images/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/assets/images/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/assets/images/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/assets/images/favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/assets/images/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}Memory{% endblock title %}</title>

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
<body class="{% block body_classes %}{% endblock body_classes %}">
<div class="container">
    {% block content %}{% endblock content %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script> -->
    {% endblock %}
</div>
</body>
</html>